--
-- PostgreSQL database dump
--

\restrict ydzLVJTQ2KCbdyAx2kKsycaJN7rf1vMThBnOd58Eaac7MCgAQzf7zmiekpGyGCf

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: backtest_runs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.backtest_runs (
    run_id integer NOT NULL,
    strategy_id integer,
    pair character varying(20),
    timeframe character varying(10),
    start_date timestamp without time zone,
    end_date timestamp without time zone,
    metrics jsonb,
    scorecard jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.backtest_runs OWNER TO postgres;

--
-- Name: backtest_runs_run_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.backtest_runs_run_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.backtest_runs_run_id_seq OWNER TO postgres;

--
-- Name: backtest_runs_run_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.backtest_runs_run_id_seq OWNED BY public.backtest_runs.run_id;


--
-- Name: bot_health; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bot_health (
    health_id integer NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    event_type character varying(50),
    status character varying(20),
    message text,
    meta_data jsonb
);


ALTER TABLE public.bot_health OWNER TO postgres;

--
-- Name: bot_health_health_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bot_health_health_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bot_health_health_id_seq OWNER TO postgres;

--
-- Name: bot_health_health_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bot_health_health_id_seq OWNED BY public.bot_health.health_id;


--
-- Name: commands; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commands (
    command_id integer NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    command_text text NOT NULL,
    status character varying(20) DEFAULT 'PENDING'::character varying,
    response_text text
);


ALTER TABLE public.commands OWNER TO postgres;

--
-- Name: commands_command_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.commands_command_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.commands_command_id_seq OWNER TO postgres;

--
-- Name: commands_command_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.commands_command_id_seq OWNED BY public.commands.command_id;


--
-- Name: daily_summary; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.daily_summary (
    summary_id integer NOT NULL,
    date date NOT NULL,
    strategy_id integer,
    total_pnl numeric,
    win_rate numeric,
    max_drawdown numeric,
    trade_count integer,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.daily_summary OWNER TO postgres;

--
-- Name: daily_summary_summary_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.daily_summary_summary_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.daily_summary_summary_id_seq OWNER TO postgres;

--
-- Name: daily_summary_summary_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.daily_summary_summary_id_seq OWNED BY public.daily_summary.summary_id;


--
-- Name: market_data_data_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.market_data_data_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.market_data_data_id_seq OWNER TO postgres;

--
-- Name: positions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.positions (
    position_id integer NOT NULL,
    mt5_ticket bigint,
    strategy_id integer,
    pair character varying(20),
    volume numeric,
    direction character varying(10),
    entry_price numeric,
    time_synced timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.positions OWNER TO postgres;

--
-- Name: positions_position_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.positions_position_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.positions_position_id_seq OWNER TO postgres;

--
-- Name: positions_position_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.positions_position_id_seq OWNED BY public.positions.position_id;


--
-- Name: regime_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.regime_log (
    regime_id integer NOT NULL,
    pair character varying(20) NOT NULL,
    "timestamp" timestamp without time zone NOT NULL,
    regime character varying(50),
    adx_value numeric,
    atr_value numeric
);


ALTER TABLE public.regime_log OWNER TO postgres;

--
-- Name: regime_log_regime_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.regime_log_regime_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.regime_log_regime_id_seq OWNER TO postgres;

--
-- Name: regime_log_regime_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.regime_log_regime_id_seq OWNED BY public.regime_log.regime_id;


--
-- Name: signals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.signals (
    signal_id integer NOT NULL,
    strategy_id integer,
    "timestamp" timestamp without time zone NOT NULL,
    pair character varying(20),
    direction character varying(10),
    indicator_values jsonb,
    triggered_trade_id uuid
);


ALTER TABLE public.signals OWNER TO postgres;

--
-- Name: signals_signal_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.signals_signal_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.signals_signal_id_seq OWNER TO postgres;

--
-- Name: signals_signal_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.signals_signal_id_seq OWNED BY public.signals.signal_id;


--
-- Name: strategies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.strategies (
    strategy_id integer NOT NULL,
    name character varying(100) NOT NULL,
    category character varying(50),
    status character varying(20) DEFAULT 'ACTIVE'::character varying,
    parameters jsonb,
    version integer DEFAULT 1,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.strategies OWNER TO postgres;

--
-- Name: strategies_strategy_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.strategies_strategy_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.strategies_strategy_id_seq OWNER TO postgres;

--
-- Name: strategies_strategy_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.strategies_strategy_id_seq OWNED BY public.strategies.strategy_id;


--
-- Name: trades; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trades (
    trade_id uuid NOT NULL,
    strategy_id integer,
    mode character varying(20),
    pair character varying(20),
    direction character varying(10),
    lot_size numeric,
    entry_price numeric,
    exit_price numeric,
    expected_entry numeric,
    slippage_pips numeric,
    tp_price numeric,
    sl_price numeric,
    open_time timestamp without time zone,
    close_time timestamp without time zone,
    duration_seconds integer,
    gross_pnl numeric,
    net_pnl numeric,
    spread_cost numeric,
    swap_cost numeric,
    commission_cost numeric,
    close_reason character varying(50),
    mt5_ticket bigint,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(20) DEFAULT 'OPENED'::character varying
);


ALTER TABLE public.trades OWNER TO postgres;

--
-- Name: walk_forward_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.walk_forward_results (
    id integer NOT NULL,
    strategy_id integer,
    symbol character varying(20),
    timeframe character varying(10),
    window_index integer,
    is_start timestamp without time zone,
    is_end timestamp without time zone,
    oos_start timestamp without time zone,
    oos_end timestamp without time zone,
    best_params jsonb,
    oos_sharpe double precision,
    oos_profit_factor double precision,
    oos_trades integer,
    created_at timestamp without time zone DEFAULT now(),
    is_sharpe double precision
);


ALTER TABLE public.walk_forward_results OWNER TO postgres;

--
-- Name: walk_forward_results_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.walk_forward_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.walk_forward_results_id_seq OWNER TO postgres;

--
-- Name: walk_forward_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.walk_forward_results_id_seq OWNED BY public.walk_forward_results.id;


--
-- Name: backtest_runs run_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backtest_runs ALTER COLUMN run_id SET DEFAULT nextval('public.backtest_runs_run_id_seq'::regclass);


--
-- Name: bot_health health_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bot_health ALTER COLUMN health_id SET DEFAULT nextval('public.bot_health_health_id_seq'::regclass);


--
-- Name: commands command_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commands ALTER COLUMN command_id SET DEFAULT nextval('public.commands_command_id_seq'::regclass);


--
-- Name: daily_summary summary_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_summary ALTER COLUMN summary_id SET DEFAULT nextval('public.daily_summary_summary_id_seq'::regclass);


--
-- Name: positions position_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.positions ALTER COLUMN position_id SET DEFAULT nextval('public.positions_position_id_seq'::regclass);


--
-- Name: regime_log regime_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.regime_log ALTER COLUMN regime_id SET DEFAULT nextval('public.regime_log_regime_id_seq'::regclass);


--
-- Name: signals signal_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.signals ALTER COLUMN signal_id SET DEFAULT nextval('public.signals_signal_id_seq'::regclass);


--
-- Name: strategies strategy_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.strategies ALTER COLUMN strategy_id SET DEFAULT nextval('public.strategies_strategy_id_seq'::regclass);


--
-- Name: walk_forward_results id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.walk_forward_results ALTER COLUMN id SET DEFAULT nextval('public.walk_forward_results_id_seq'::regclass);


--
-- Data for Name: backtest_runs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bot_health; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: commands; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.commands (command_id, "timestamp", command_text, status, response_text) FROM stdin;
\.


--
-- Data for Name: daily_summary; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.daily_summary (summary_id, date, strategy_id, total_pnl, win_rate, max_drawdown, trade_count, updated_at) FROM stdin;
\.


--
-- Data for Name: positions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.positions (position_id, mt5_ticket, strategy_id, pair, volume, direction, entry_price, time_synced) FROM stdin;
\.


--
-- Data for Name: regime_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: signals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.signals (signal_id, strategy_id, "timestamp", pair, direction, indicator_values, triggered_trade_id) FROM stdin;
\.


--
-- Data for Name: strategies; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trades; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.trades (trade_id, strategy_id, mode, pair, direction, lot_size, entry_price, exit_price, expected_entry, slippage_pips, tp_price, sl_price, open_time, close_time, duration_seconds, gross_pnl, net_pnl, spread_cost, swap_cost, commission_cost, close_reason, mt5_ticket, created_at, status) FROM stdin;
\.


--
-- Data for Name: walk_forward_results; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: backtest_runs_run_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.backtest_runs_run_id_seq', 50, true);


--
-- Name: bot_health_health_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bot_health_health_id_seq', 769, true);


--
-- Name: commands_command_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.commands_command_id_seq', 1, false);


--
-- Name: daily_summary_summary_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.daily_summary_summary_id_seq', 1, false);


--
-- Name: market_data_data_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.market_data_data_id_seq', 53520919, true);


--
-- Name: positions_position_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.positions_position_id_seq', 1, false);


--
-- Name: regime_log_regime_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.regime_log_regime_id_seq', 80, true);


--
-- Name: signals_signal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.signals_signal_id_seq', 1, false);


--
-- Name: strategies_strategy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.strategies_strategy_id_seq', 12, true);


--
-- Name: walk_forward_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.walk_forward_results_id_seq', 85, true);


--
-- Name: backtest_runs backtest_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backtest_runs
    ADD CONSTRAINT backtest_runs_pkey PRIMARY KEY (run_id);


--
-- Name: bot_health bot_health_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bot_health
    ADD CONSTRAINT bot_health_pkey PRIMARY KEY (health_id);


--
-- Name: commands commands_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commands
    ADD CONSTRAINT commands_pkey PRIMARY KEY (command_id);


--
-- Name: daily_summary daily_summary_date_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_summary
    ADD CONSTRAINT daily_summary_date_key UNIQUE (date);


--
-- Name: daily_summary daily_summary_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_summary
    ADD CONSTRAINT daily_summary_pkey PRIMARY KEY (summary_id);


--
-- Name: positions positions_mt5_ticket_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.positions
    ADD CONSTRAINT positions_mt5_ticket_key UNIQUE (mt5_ticket);


--
-- Name: positions positions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.positions
    ADD CONSTRAINT positions_pkey PRIMARY KEY (position_id);


--
-- Name: regime_log regime_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.regime_log
    ADD CONSTRAINT regime_log_pkey PRIMARY KEY (regime_id);


--
-- Name: signals signals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.signals
    ADD CONSTRAINT signals_pkey PRIMARY KEY (signal_id);


--
-- Name: strategies strategies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.strategies
    ADD CONSTRAINT strategies_pkey PRIMARY KEY (strategy_id);


--
-- Name: trades trades_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trades
    ADD CONSTRAINT trades_pkey PRIMARY KEY (trade_id);


--
-- Name: walk_forward_results walk_forward_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.walk_forward_results
    ADD CONSTRAINT walk_forward_results_pkey PRIMARY KEY (id);


--
-- Name: backtest_runs backtest_runs_strategy_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backtest_runs
    ADD CONSTRAINT backtest_runs_strategy_id_fkey FOREIGN KEY (strategy_id) REFERENCES public.strategies(strategy_id);


--
-- Name: daily_summary daily_summary_strategy_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_summary
    ADD CONSTRAINT daily_summary_strategy_id_fkey FOREIGN KEY (strategy_id) REFERENCES public.strategies(strategy_id);


--
-- Name: positions positions_strategy_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.positions
    ADD CONSTRAINT positions_strategy_id_fkey FOREIGN KEY (strategy_id) REFERENCES public.strategies(strategy_id);


--
-- Name: signals signals_strategy_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.signals
    ADD CONSTRAINT signals_strategy_id_fkey FOREIGN KEY (strategy_id) REFERENCES public.strategies(strategy_id);


--
-- Name: trades trades_strategy_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trades
    ADD CONSTRAINT trades_strategy_id_fkey FOREIGN KEY (strategy_id) REFERENCES public.strategies(strategy_id);


--
-- Name: walk_forward_results walk_forward_results_strategy_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.walk_forward_results
    ADD CONSTRAINT walk_forward_results_strategy_id_fkey FOREIGN KEY (strategy_id) REFERENCES public.strategies(strategy_id);


--
-- PostgreSQL database dump complete
--

\unrestrict ydzLVJTQ2KCbdyAx2kKsycaJN7rf1vMThBnOd58Eaac7MCgAQzf7zmiekpGyGCf

